[Unit]
Description=Run GSM watchdog every 60 seconds
Requires=sim800.service
After=sim800.service
PartOf=sim800.service

[Timer]
OnBootSec=60
OnUnitActiveSec=60

[Install]
WantedBy=timers.target
