ABORT "BUSY"
ABORT "NO CARRIER"
ABORT "NO DIALTONE"
ABORT "NO ANSWER"
ABORT "ERROR"
REPORT CONNECT

TIMEOUT 10

"" AT
OK ATE0

# --- HARD RESET (does not work even with TIMEOUT 45) ---
#OK AT+CFUN=1,1
#TIMEOUT 15
#"" AT

# --- CLEAN GPRS STATE ---
OK AT+CGATT=0
OK AT+CGATT=1

# --- APN ---
OK AT+CGDCONT=1,"IP","internet"

# --- DIAL ---
TIMEOUT 60
OK ATD*99***1#

CONNECT ""
